.headingWrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.heading {
    font-size: 30px;
    font-weight: 600
}

.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    height: 45px;
    width: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.backArrow {
    height: 25px;
}

.btn {
    padding: 10px 50px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    color: #fff;
}

.InputImg {
    margin-top: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.itemImg {
    margin-top: 15px;
    width: 300px;
    height: 300px;
}

.uploadImage {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 10px;
    cursor: pointer;
}


.addItem {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.addItemLeft {
    width: 45%;
}

.addItemDetails {
    display: flex;
}
.infoWrapper{
    width: 65%;
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
    margin-left: 20px;
}
.inputHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #8C8C8C
}
.textFeildTwo {
    background-color: #F3F3F3;
    margin-top: 10px;
    border-radius: 20px;
    width: 90%;
    min-height: 200px;
}
.textFeild {
    background-color: #F3F3F3;
    margin-top: 10px;
    border-radius: 20px;
    width: 90%;
}

.textInput {
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    width: 90%;
    margin-left: 20PX;
    background: none;
    color: black;
}

.textInput::placeholder {
    color:#000; /* Adjust the color as needed */
  }
.textInputTwo::placeholder {
    color:#000; /* Adjust the color as needed */
  }
.textInputThree::placeholder {
    color:#000; /* Adjust the color as needed */
  }
.textInputFour::placeholder {
    color:#000; /* Adjust the color as needed */
  }

.textInputTwo {
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 90%;
    margin-left: 100PX;
    margin-left: 20px;
    background: none;
    
}

.row {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.headingWrapperTwo {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 75px;
    margin-top: 50px;
}


.infoheading {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.textInputThree {
    outline: none;
    border: none;
    background-color: #fff;
    border: 1px solid #00000041;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;

}

.addItemRight {
    width: 30%;
    margin-top: 10px;
}

.specHeading {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;

}



.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    margin-top: 10px;
}

.filterlable {
    color: #8C8C8C;
    font-size: 16px;

}

.filterName {
    font-size: 22px;
    font-weight: 600;
}

.menuDot {
    height: 10px;
}

.filteritem {
    border: 2px solid #8c8c8c24;
    background-color: #f3f3f36d;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

.headingWrapperThree {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 65px;
    margin-top: 20px;
}

.infoheadingTwo {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #8C8C8C;
}

.textInputFour {
    outline: none;
    border: none;
    background-color: #fff;
    border: 1px solid #00000041;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;

}

.circleTwo {
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;

}

.itemDetailsWrapper {
    display: flex;
    justify-content: center;
}

