.container {
    /* display: flex; */
    /* background-color: red; */
    /* width: 70%; */
    padding-left: 18%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6f6;
    overflow: auto;
    height: 100vh;
}

.menuTwo {
    width: 96%;
}

.searchWrapper {
    display: flex;
    gap: 10px;
    position: relative;
}

.search {
    width: 100%;
}

.searchInput {
    /* height: 50px; */
    border-radius: 10px;
    /* font-size: 18px; */
    outline: none;
    /* border: 1px solid #EBEBEB; */
    /* padding-left: 50px; */
}

.noticationWrapper {
    /* width: 12%; */
}

.noticationBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

.notificationIcon {
    /* width: 20px; */
}

.menu {
    width: 96%;
    margin: 30px 0px;
    border-radius: 10px;
}


.btn {
    padding: 10px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}


.btnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rewardDetailWrapper {
    margin-top: 40px;
    margin-left: 20px;
}

.rewardHeading {
    font-size: 25px;
    font-weight: 500;
}

.rewardsName {
    color: #8C8C8C;
    margin-bottom: 10px;
    font-size: 20px;
}

.orderDetailWrapper {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.rewardsNameInfo {
    font-size: 25px;
    font-weight: 500;
}

.rewardNameWrapper {
    margin-bottom: 20px;
}

.orderInput {
    outline: none;
    border: 2px solid #dddddd;
    border-radius: 10px;
    font-size: 25px;
    width: 80%;
    padding-left: 10px;
}

.dropdownWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    align-items: start;
    position: relative;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 10px;
    font-size: 20px;
    color: #8C8C8C;


}

.blackArrow {
    width: 15px;
}

.dropDownSelect {
    position: absolute;
    background-color: #fff;
    top: 40px;
}

.dropDownOption {
    font-size: 20px;
    padding: 5px 0;
    padding-left: 10px;
    width: 220px;
    color: #8C8C8C;
}

.rewardtermWrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 40px;

}

.termWrapper {
    width: 45%;
}

.termPara {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        padding-left: 20%;

    }

    .orderDetailWrapper {
        justify-content: space-around;
        width: 50%;
    }

    .rewardtermWrapper {
        width: 80%;

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding-left: 22%;

    }

    .orderDetailWrapper {
        justify-content: space-around;
        width: 75%;
    }

    .rewardtermWrapper {
        width: 100%;

    }
}




@media screen and (max-width: 768px) {
    .container {
        padding-left: 20%;
    }

    .search {
        width: 60%;
    }

    .searchInput {
        width: 120%;
    }

    .noticationWrapper {
        /* width: 25%; */
    }

    .noticationText {
        display: none;
    }

    .noticationBtn {
        /* width: 30%; */
        justify-content: center;
        margin-left: 50px;
    }

    .rewardHeading {
        font-size: 16px;
    }

    .rewardsName {
        font-size: 12px;
    }

    .rewardsNameInfo {
        font-size: 14px;
    }

    .orderDetailWrapper {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .dropdownWrapper {
        width: 80%;
    }


    .dropdown {
        width: 90%;
        height: 30px;
        font-size: 16px;
    }

    .dropDownSelect {
        top: 30px;
        width: 100%;
        font-size: 16px;
    }

    .rewardtermWrapper {
        flex-direction: column;
        width: 100%;
        gap: 10px;

    }

    .termWrapper {
        width: 100%;
    }

    .btn {
        padding: 7px;
        font-size: 12px;
    }

    .orderInput {
        font-size: 16px;
    }

    .blackArrow {
        width: 10px;
    }
    .dropDownOption {
        font-size: 16px;
    }
    .termPara {
        font-size: 14px;
    }
}