.container {
    background-color: #f6f6f6f6;
    padding-left: 18%;
    padding-top: 30px;
    padding-bottom: 30px;

}

.menuTwo {
    width: 96%;
}

.searchWrapper {
    display: flex;
    gap: 10px;
    position: relative;
}

.search {
    width: 100%;
}

.searchInput {
    /* height: 50px; */
    border-radius: 10px;
    /* font-size: 18px; */
    outline: none;
    /* border: 1px solid #EBEBEB; */
    /* padding-left: 50px; */
}

.noticationWrapper {
    /* width: 12%; */
}

.noticationBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

.notificationIcon {
    /* width: 20px; */
}

.menu {
    width: 96%;
    margin: 30px 0px;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}


.btnWrapper {
    display: flex;
    justify-content: space-between;
}

.rewardHeading {
    font-size: 25px;
    font-weight: 500;
}

.offerHeadingWrapper {
    display: flex;
    align-items: center;
}


.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.rewardCard {
    border: 2px solid #EBEBEB;
    width: 32%;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, #57a19c, #b6dbd9);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rewardHeadingWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

.rewardCardHeading {
    font-size: 30px;
    font-weight: 500;
}

/* .reawadPara {
    font-size: px;
} */

.rewardImgWrapper {
    margin: 20px;
}

.rewardImg {
    width: 80px;
}

.greenBtn {
    background-image: linear-gradient(to right, #287c76, #60b0aa);
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.word {
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* modal Css */

.modalReward {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff1f;
    /* position: absolute;
    top: 30%;
    left: 30%; */
}

.modalContainer {
    /* width: 100%;
    margin: 20px; */
    width: 40%;
    height: 45vh;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;

}

.modalHeadingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cross {
    width: 35px;
    cursor: pointer;
}

.modalHeading {
    font-size: 25px;
    font-weight: 500;
}

.modalBtn {
    padding: 5px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.dropDownWrappper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}

.dropDownleft {
    background-color: #F4F4F4;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px;

}

.headingWrapper {
    width: 100%;
}

.dropDownHeading {
    margin: 0 10px;
    margin-top: 5px;
}

.dropDownSelect {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.dropDownOpen {
    margin-top: 20px;
    background-color: #fff;
    width: 95%;
    border-radius: 10px;
    cursor: pointer;

}


.dropDownPara {
    font-size: 20px;
    font-weight: 500;
}

.dropDownIcon {
    width: 20px;
    object-fit: contain;
}

.dropDownRight {
    background-color: #F4F4F4;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px;
}

.dropDown {
    width: 100%;
}

.dropDownOption {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border-top: 2px solid #00000018;
}


/* reviewModal */

.reviewModal {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff1f;
    /* position: absolute;
    top: 40%;
    left: 37%; */
    /* width: 25%; */
    /* background-color: #FFF;
    border-radius: 10px;
    position: relative;
    border: 1px solid #0000003d; */
}

.ReiewContainer {
    width: 25%;
    height: 30vh;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    border: 1px solid #0000003d;
 
}

.reviewHeading {
    font-size: 25px;
    font-weight: 600;
    margin: 30px;
}

.orderInfoWrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.orderHeading {
    font-size: 18px;
}

.orderQuantity {
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
}

.logoutBtnWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logoutBtn {
    padding: 5px 70px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelBtn {
    padding: 5px 70px;
    border-radius: 10px;
    font-size: 22px;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossTwo {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}

/* completeModal */

.completeModal {
    outline: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1f;
    /* position: absolute;
    top: 40%;
    left: 40%;
    width: 15%; */
    /* height: 30vh;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    border: 1px solid #0000003d; */
}

.completeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 15%;
    height: 35vh;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    border: 1px solid #0000003d;
}

.completebtnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.completeHeading {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;

}

.completebtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 90%;
    height: 50px;
    padding: 0 10px;

}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;

}

.arrowImg {
    width: 15px;
}

.completeImg {
    width: 150px;
}

.completePara {
    font-weight: 500;
}




/* @media screen and (min-width: 1345px) and (max-width: 1645px) {
    .rewardCardHeading {
        font-size: 25px;
    }

    .reawadPara {
        font-size: 16px;
    }

    .rewardImg {
        width: 70px;
    }

    .btn {
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1344px) {
    .container {
        padding-left: 19%;
        overflow: auto;
        height: 100vh;

    }

    .rewardCardHeading {
        font-size: 22px;
    }

    .reawadPara {
        font-size: 12px;
    }

    .rewardImg {
        width: 60px;
    }

    .btn {
        font-size: 18px;
    }

    .rewardImgWrapper {
        margin: 10px;
    }

    .rewardHeadingWrapper {
        gap: 5px;
        padding-left: 10px;
    }

    .greenBtn {
        font-size: 18px;
    }

    .word {
        font-size: 18px;
    }

    modal Css

    .modalReward {
        top: 30%;
        left: 27%;
        width: 60%;
        height: 44vh;
    }

    .dropDownPara {
        font-size: 18px;
        font-weight: 500;
    }

    reviewModal

    .reviewModal {
        height: 29vh;
        top: 40%;
        left: 35%;
        width: 44%;
    }

    completeModal
    .completeModal {
        top: 35%;
        left: 44%;
        width: 20%;
        height: 32vh;

    }
} */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding-left: 20%;

    }

    .searchWrapper {
        justify-content: space-between;
        gap: 0;
    }

    .search {
        width: 60%;
    }

    .searchInput {
        width: 105%;
    }

    .noticationWrapper {
        /* width: 25%; */
    }

    .noticationBtn {
        /* width: 80%; */
        justify-content: center;
        margin-left: 15px;
    }

    .rewardCard {
        width: 48%;
    }

    .rewardCardHeading {
        font-size: 22px;
    }

    .rewardImg {
        width: 55px;
    }


    .reawadPara {
        font-size: 14px;
    }


    .btn {
        font-size: 20px;
    }

    .rewardHeading {
        font-size: 22px;
    }

    .greenBtn {
        height: 50px;
        font-size: 18px;

    }

    .word {
        font-size: 18px;
    }

    .rewardImgWrapper {
        margin: 15px;
    }

    /* modal Css  */

    .modalReward {
        top: 30%;
        left: 25%;
        width: 60%;
        height: 43vh;

    }

    .cross {
        width: 30px;
    }

    .modalHeading {
        font-size: 22px;
        font-weight: 500;
    }

    .dropDownIcon {
        width: 15px;
    }

    .dropDownSelect {
        padding: 10px 5px;


    }

    .modalBtn {
        font-size: 20px;
    }

    .dropDownPara {
        font-size: 13px;
    }

    .dropDownHeading {
        font-size: 12px;
    }

    .dropDownOpen {
        margin-top: 10px;

    }

    .dropDownOption {
        margin: 10px 5px;
        font-size: 18px;
    }

    /* reviewModal */
    .reviewModal {
        left: 35%;
        width: 40%;
        height: 35vh;
    }


    .reviewHeading {
        font-size: 18px;
        margin: 20px;
    }

    .orderInfoWrapper {
        margin: 20px;
    }

    .dropDownSelect {
        padding: 5px 5px;


    }

    .orderHeading {
        font-size: 16px;
    }

    .orderQuantity {
        font-size: 16px;
    }

    .logoutBtn {
        padding: 5px 45px;
        font-size: 18px;
    }

    .cancelBtn {
        padding: 5px 45px;
        font-size: 18px;
    }

    /* completeModal  */
    .completeModal {
        width: 22%;
        height: 40vh;
    }


    .completeHeading {
        font-size: 18px;
        margin-top: 10px;

    }

    .completebtn {
        font-size: 18px;
        height: 35px;

    }

    .arrow {
        width: 25px;
        height: 25px;

    }

    .arrowImg {
        width: 10px;
    }

    .completeImg {
        width: 100px;
    }

    .completeParaWrapper {
        display: flex;
        justify-content: center;
    }

    .completePara {
        width: 95%;
        text-align: center;
    }

}



@media screen and (min-width:501px) and (max-width: 768px) {

    .search {
        width: 60%;
    }

    .searchInput {
        width: 120%;
    }

    .noticationWrapper {
        /* width: 25%; */
    }

    .noticationText {
        display: none;
    }

    .noticationBtn {
        /* width: 30%; */
        justify-content: center;
        margin-left: 50px;
    }

    .rewardCard {
        width: 48%;
    }

    .rewardCardHeading {
        font-size: 14px;
    }

    .rewardImg {
        width: 50px;
    }

    .reawadPara {
        font-size: 9px;
    }


    .btn {
        font-size: 18px;
    }

    .rewardHeading {
        font-size: 20px;
    }

    .greenBtn {
        height: 40px;
        font-size: 16px;

    }

    .word {
        font-size: 16px;
    }

    .rewardImgWrapper {
        margin: 10px;
    }

    .row {
        gap: 5px;
    }

    .rewardHeadingWrapper {
        gap: 5px;
        padding-left: 10px;
    }

    /* modal Css  */

    .modalReward {
        top: 15%;
        left: 20%;
        width: 70%;
        height: 80vh;

    }

    .dropDownWrappper {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .dropDownleft {
        width: 95%;

    }

    .dropDownRight {
        width: 95%;
    }

    .cross {
        width: 30px;
    }

    .modalHeading {
        font-size: 20px;
    }

    .modalBtn {
        font-size: 18px;
    }

    /* reviewModal  */
    .reviewModal {
        top: 40%;
        left: 27%;
        width: 55%;
        height: 35vh;
    }


    .reviewHeading {
        font-size: 20px;
        margin: 20px;
    }

    .orderInfoWrapper {
        margin: 20px;
    }

    .orderHeading {
        font-size: 16px;
    }


    .logoutBtnWrapper {
        gap: 10px;
    }

    .logoutBtn {
        padding: 5px 40px;
        font-size: 18px;
    }

    .cancelBtn {
        padding: 5px 40px;
        font-size: 18px;
    }

    /* completeModal */

    .completeModal {
        width: 35%;
        height: 35vh;
        top: 30%;
        left: 35%;
    }

    .completeHeading {
        font-size: 16px;
        margin-top: 10px;

    }

    .completebtn {
        font-size: 16px;
        height: 30px;

    }

    .arrow {
        width: 20px;
        height: 20px;

    }

    .arrowImg {
        width: 10px;
    }

    .completeImg {
        width: 75px;
    }

    .completeParaWrapper {
        display: flex;
        justify-content: center;
    }

    .completePara {
        width: 85%;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 20%;
    }

    .search {
        width: 60%;
    }

    .searchInput {
        width: 120%;
    }

    .noticationText {
        display: none;
    }

    .noticationBtn {
        justify-content: center;
        margin-left: 50px;
    }

    .rewardCard {
        width: 100%;
    }

    .rewardCardHeading {
        font-size: 16px;
    }

    .rewardImg {
        width: 50px;
    }

    .reawadPara {
        font-size: 10px;
    }

    .rewardHeading {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .btnWrapper {
        align-items: center;
    }

    .greenBtn {
        height: 30px;
        width: 50px;
        font-size: 16px;
    }

    .word {
        font-size: 16px;
        height: 30px;
        width: 50px;
    }


    /* modal Css  */

    .modalReward {
        top: 15%;
        left: 20%;
        width: 70%;
        height: 70vh;

    }

    .dropDownWrappper {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .dropDownleft {
        width: 95%;

    }

    .dropDownRight {
        width: 95%;
    }

    .dropDownPara {
        font-size: 12px;
    }

    .cross {
        width: 25px;
    }

    .dropDownSelect {
        padding: 5px 5px;
    }

    .dropDownOption {
        margin: 5px;
        font-size: 12px;
    }

    .modalHeading {
        font-size: 15px;
    }

    .modalBtn {
        font-size: 12px;
    }
    .dropDownIcon {
        width: 15px;
        object-fit: contain;
    }
    /* reviewModal  */
    .reviewModal {
        top: 30%;
        left: 26%;
        width: 60%;
        height: 28vh;
    }


    .reviewHeading {
        font-size: 14px;
        margin: 10px;
    }

    .orderInfoWrapper {
        margin: 20px;
    }

    .orderHeading {
        font-size: 12px;
    }
    .orderQuantity {
        font-size: 12px;
    }
   

    .logoutBtnWrapper {
        gap: 10px;
    }

    .logoutBtn {
        padding: 5px 20px;
        font-size: 12px;
    }

    .cancelBtn {
        padding: 5px 20px;
        font-size: 12px;
    }

    /* completeModal */

    .completeModal {
        width: 43%;
        height: 30vh;
        top: 35%;
        left: 35%;
    }

    .completeHeading {
        font-size: 14px;
        margin-top: 5px;


    }

    .completebtn {
        font-size: 12px;
        height: 25px;

    }

    .arrow {
        width: 18px;
        height: 18px;

    }

    .arrowImg {
        width: 10px;
    }

    .completeImg {
        width: 65px;
    }

    .completeParaWrapper {
        display: flex;
        justify-content: center;
    }

    .completePara {
        width: 85%;
        text-align: center;
        font-size: 12px;
    }

    .dropDownHeading {
        font-size: 12px;
    }
}