.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.logInBox {
    width: 70%;
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.boxLelt {
    width: 50%;
    background-image: url(../../asset/bgImg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminBtnWrapper {
    display: flex;
    gap: 10px;
    margin: 50px 50px;
}

.adminBtnWhite {
    border: 2px solid #287C76;
    color: #287C76;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.adminBtnGreen {
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.selectBtn {
    width: 20px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
}

.logo {
    width: 450px;
}

.headingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logoHeading {
    font-size: 24px;
    width: 52%;
    text-align: center;
    color: #8C8C8C;
}

.bold {
    font-weight: 700;
    color: #555555;
}


.backWrapper {
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
}

.backBTn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    height: 45px;
    width: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.backArrow {
    height: 25px;

}


.boxRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logInHeading {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.textField {
    margin-top: 10px;
    width: 70%;
    height: 80px;
    gap: 25px;
    background-color: #F3F3F3;
    border-radius: 10px;
    z-index: 2;

}

.userInput {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    font-size: 17px;
    z-index: 1;
}


.userInputTwo {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    font-size: 17px;
    padding-top: 7px;
    padding-left: 5px;
}

.conutrySelect {
    outline: none;
    border: none;
    background: none;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px;
    /* padding-top: 4px; */
    font-weight: 500;
}

.checkBox {
    display: flex;
    align-items: start;
    width: 70%;
    margin-top: 30px;

}

.checkBoxBtn {
    width: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.terms {
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;

}

.termpara {
    font-size: 14px;
    font-weight: normal;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    height: 70px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.arrowImg {
    width: 20px;
}

.btnheading {
    margin-left: 10px;
}

.adminWrapper {
    display: flex;
    gap: 10px;
    width: 70%;
}

.adminBtnWhite {
    padding: 10px;
    font-size: 12px;


}

.adminBtnGreen {
    padding: 10px;
    font-size: 12px;
}

.selectBtn {
    width: 15px;
}

.inputHeading {
    margin-top: 5px;
    margin-left: 5px;
    color: #8C8C8C;
}

.countryName {
    border-bottom: 1px solid #00000027;
    height: 30px;
    background-color: #F3F3F3;
    font-size: 16px;
    border-radius: 2px;
    padding-bottom: 7px;
    padding-left: 20px;
}

.country {
    margin-top: 30px;
    height: 300px;
    overflow-y: scroll;
    border-radius: 5px;
}

.custom_phone_input {
    width: 90%;
    height: 35px;
    margin-left: 20px;

}


.custom_phone_input>input {
    outline: none;
    border: none;
    background: none;
    font-size: 17px;
    z-index: 1;
}

.textFieldTwo {
    margin-top: 10px;
    width: 70%;
    height: 65px;
    background-color: #F3F3F3;
    border-radius: 10px;
    z-index: 3;
    /* padding-bottom: 10px; */
}
.downArrow{
    width: 20px;
    margin-right: 10px;
}


.inputWrapper {
    margin-top: 10px;
    width: 60%;
    height: 70px;
    gap: 25px;
    background-color: #F3F3F3;
    border-radius: 10px;
    z-index: 2;

}

.btnWrapper {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.errorMessage {
    color: red;
}


@media screen and (max-width : 768px) {
    .container {
        height: 0vh;
        align-items: start;
    }

    .logInBox {
        width: 100%;
        flex-direction: column;
        border: none;
    }

    .boxLelt {
        width: 100%;
        height: 100vh;
    }

    .backWrapper {
        margin-top: 80px;
        margin-left: 30px;
        width: 90%;
    }

    .backBTn {

        height: 25px;
        width: 25px;
    }

    .backArrow {
        height: 15px;

    }

    .backBtnWrapper {
        display: flex;
        justify-content: center;
    }

    .adminBtnWrapper {
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        width: 70%;
    }

    .adminBtnWhite {
        justify-content: center;
        padding: 10px 0px;
    }

    .adminBtnGreen {
        justify-content: center;
        padding: 10px 0px;
        cursor: pointer;
    }

    .logo {
        width: 300px;
    }

    .headingWrapper {
        margin-bottom: 20px;
    }

    .logoHeading {
        width: 80%;
    }

    .boxRight {
        width: 100%;
    }

    .logInPara {
        width: 75%;
    }

    .forgotBtn {
        font-size: 18px;
    }

    .otherAccount {
        width: 80%;
        flex-direction: column;
        gap: 20px;
        margin: 30px;
    }

    .line {
        width: 90%;
    }

    .userInput {
        width: 95%;
        margin-left: 5px;
    }

    .inputHeading {
        margin-left: 5px;
    }

    .otherSignIn {
        width: 70%;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    .googleLogo {
        margin-right: 0px;

    }

    .lastPara {
        text-align: center;
    }
    .errorMessage {
        color: red;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        align-items: start;
        height: 0;
    }

    .logInBox {
        width: 100%;
    }

    .adminBtnWrapper {
        margin: 20px 20px;
    }

    .adminBtnWhite {
        font-size: 16px;
        padding: 5px 10px;

    }

    .adminBtnGreen {
        font-size: 16px;

    }

    .logo {
        width: 350px;
    }

    .logoHeading {
        width: 70%;
    }

    .logInPara {
        width: 70%;
    }

    .otherAccount {
        width: 75%;
    }

    .line {
        width: 30%;
    }

    .googleLogo {
        width: 30px;
        margin-left: 10px;
        margin-right: 15px;
    }

    .backWrapper {
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
    }

    .backBTn {
        height: 35px;
        width: 35px;

    }

    .backArrow {
        height: 15px;

    }

    .adminWrapper {
        flex-direction: column;
    }

    .inputWrapper {
        width: 100%;
    }
    .errorMessage {
        color: red;
    }
    
}