.container {
  /* padding-left: 18%; */
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6f6;
  overflow: auto;
}

.menuTwo {
  width: 96%;
}

.searchWrapper {
  display: flex;
  gap: 10px;
  position: relative;
}

.search {
  width: 100%;
}

.searchInput {
  /* height: 50px; */
  border-radius: 10px;
  /* font-size: 18px; */
  outline: none;
  /* border: 1px solid #EBEBEB; */
  /* padding-left: 50px; */
}

.noticationWrapper {
  /* width: 12%; */
}

.noticationBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
}

.notificationIcon {
  /* width: 20px; */
}

.menu {
  /* width: 96%; */
  margin: 30px 0px;
  border-radius: 10px;
}

.headingWrappper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  /* font-size: 24px; */
}

.headingIcon {
  /* width: 30px; */
}

.btn {
  /* padding: 10px; */
  background-image: linear-gradient(to right, #287c76, #60b0aa);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* font-size: 22px; */
  color: #fff;
  cursor: pointer;
}

.plusIcon {
  /* width: 15px; */
}

.categoriesCard {
  position: relative;
  margin: 30px 0;
  cursor: pointer;
}

.categoriesCardImg {
  width: 235px;
  height: 235px;
}

.cardCover {
  width: 230px;
  height: 230px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.dotMenu {
  /* width: 100%; */
  display: flex;
  justify-content: end;
  margin: 10px 0;
  margin-bottom: 0;
}

.dotMenu img {
  /* heights: 30px; */
  margin-right: 10px;
}

.itemsCenter {
  display: flex;
  cursor: pointer;
}

.categoriesName {
  /* background-color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 18px;
  padding: 5px;
  text-align: center; */
  font-weight: 600;
}

.dropdown {
  /* width: 50%; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* margin-right: 10px; */
}

.editIcon {
  width: 20px;
  object-fit: contain;
  margin-right: 40px;
  cursor: pointer;
}

.removeIcon {
  width: 20px;
  object-fit: contain;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #a26a3f;
}

.categoryRow {
  display: flex;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;
  width: 100%;
}

.itemCard {
  border: 1px solid #ebebeb;
  width: 16%;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.itemCardImg {
  width: 90%;
  margin: 10px 10px;
}

.itemName {
  /* font-size: 24px; */
  margin: 0 10px;
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #60b0aa;
  font-size: 20px;
  margin: 0 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.blackDots {
  height: 30px;
}

/* menu Modal */

.modal {
  width: 50%;
  /* height: 70vh; */
  position: absolute;
  left: 25%;
  top: 13%;
  background-color: #fff;
  outline: none;
  padding-bottom: 10px;
}

.modalHeadingWrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.modalHeading {
  font-size: 30px;
  font-weight: 600;
}

.modalBtn {
  padding: 5px 20px;
  background-image: linear-gradient(to right, #287c76, #60b0aa);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.InputImg {
  margin-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputImg {
  visibility: none;
  display: none;
}

.uploadImage {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
}

.icon {
  height: 50px;
  width: 50px;
}

.seletedImg {
  width: 100%;
  height: 250px;
}

.uploadImgtext {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

.uploadImg {
  width: 25px;
  margin-right: 10px;
}

.imageUploadWrapper {
  display: flex;
  justify-content: center;
}

.uploadImgIcon {
  width: 100px;
}

.addCategoryWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.addCategory {
  background-color: #f3f3f3;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.addCategoryHeading {
  color: #8c8c8c;
}

.input {
  outline: none;
  background: none;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 24px;
}

.ovalBtnWrapper {
  width: 60%;
  height: 100px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 10px;
}

.addCategoryBtn {
  display: flex;
  justify-content: center;
}

.ovalBtn {
  width: 65px;
  height: 35px;
  border-radius: 30px;
  background-color: #60b0aa;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.notSelectedBtn {
  width: 65px;
  height: 35px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.whiteBtn {
  margin-right: 5px;
  width: 28px;
  height: 28px;
  background-color: #f3f3f3;
  border-radius: 100%;
}

.notSelectedgreen {
  margin-left: 5px;
  width: 28px;
  height: 28px;
  background-color: #60b0aa;
  border-radius: 100%;
}

.cross {
  width: 50px;
  cursor: pointer;
}

.activeHeading {
  font-size: 22px;
  font: 500;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-left: 20%;
  }

  .searchWrapper {
    justify-content: space-between;
    gap: 0;
  }

  .search {
    width: 60%;
  }

  .searchInput {
    width: 105%;
  }

  .noticationWrapper {
    /* width: 25%; */
  }

  .noticationBtn {
    /* width: 80%; */
    justify-content: center;
    margin-left: 15px;
  }

  .categoryRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  .categoriesCardImg {
    width: 175px;
    height: 175px;
  }

  .cardCover {
    width: 175px;
    height: 175px;
  }
  .row {
    margin-top: 10px;
    width: 100%;
    gap: 10px;
  }
  .itemCard {
    width: 22%;
    margin: 0;
  }

  .itemCardImg {
    width: 90%;
    margin: 10px 6px;
  }

  /* modal Css  */
  .modal {
    width: 65%;
    /* height: 80vh; */
    left: 15%;
  }

  .modalHeadingWrapper {
    margin: 20px;
  }

  .modalHeading {
    font-size: 25px;
  }

  .modalBtn {
    padding: 0px 10px;
  }

  .cross {
    width: 40px;
  }

  .InputImg {
    width: 80%;
  }

  .uploadImage {
    width: 100%;
    height: 150px;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .seletedImg {
    width: 100%;
    height: 150px;
  }

  .addCategory {
    width: 75%;
  }

  .ovalBtnWrapper {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .searchWrapper {
    justify-content: space-between;
    gap: 0;
  }

  .search {
    width: 60%;
  }

  .searchInput {
    width: 120%;
  }

  .noticationWrapper {
    /* width: 25%; */
  }

  .noticationText {
    display: none;
  }

  .noticationBtn {
    /* width: 30%; */
    justify-content: center;
    margin-left: 50px;
  }

  .headingWrappper {
    margin-right: 10px;
  }

  .categoryRow {
    flex-wrap: wrap;
    justify-content: center;
  }

  .categoriesCardImg {
    width: 80px;
    height: 80px;
  }

  .cardCover {
    width: 150px;
    height: 150px;
    top: -10%;
    right: -60%;
  }

  .itemCard {
    width: 48%;
    margin: 0;
  }

  .itemCardImg {
    width: 90%;
  }

  .row {
    margin-top: 10px;
    width: 100%;
    gap: 10px;
  }

  /* modal Css  */
  .modal {
    width: 85%;
    /* height: 80vh; */
    left: 10%;
  }

  .modalHeadingWrapper {
    margin: 20px;
  }

  .modalHeading {
    font-size: 25px;
  }

  .modalBtn {
    padding: 0px 10px;
  }

  .cross {
    width: 40px;
  }

  .InputImg {
    width: 80%;
  }

  .uploadImage {
    width: 100%;
    height: 150px;
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .seletedImg {
    width: 100%;
    height: 150px;
  }

  .addCategory {
    width: 75%;
  }

  .ovalBtnWrapper {
    width: 75%;
  }
}
