.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.subPaginationContianer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
   */
}
.paginationNumbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: ; */
  /* margin: 10px; */
}

.arrows {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}



.selectedPage {
  /* background-color: #398c85;
  border-radius: 60%;
  color: #FFFF;
  width: 40%;
  height: 26px; */
}

