.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.logInBox {
    width: 70%;
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.boxLelt {
    width: 50%;
    background-image: url(../../asset/bgImg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminBtnWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.adminBtnWhite {
    border: 2px solid #287C76;
    color: #287C76;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}   

.adminBtnGreen {
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.selectBtn {
    width: 20px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
}

.logo {
    width: 450px;
}

.headingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logoHeading {
    font-size: 24px;
    width: 52%;
    text-align: center;
    color: #8C8C8C;
}

.bold {
    font-weight: 700;
    color: #555555;
}
.backWrapper {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
}

.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    height: 35px;
    width: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.backArrow {
    height: 15px;

}

.boxRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logInHeading {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;

}

.textFeild {
    margin-top: 10px;
    width: 70%;
    background-color: #F3F3F3;
    border-radius: 10px;

}

.dropdownWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textFeildTwo {
    margin-top: 10px;
    width: 70%;
    background-color: #F3F3F3;
    border-radius: 10px;
    z-index: 3;
    position: relative;

}

.uploadImage {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 10px;
    cursor: pointer;
}

.icon {
    height: 50px;
    width: 50px;
}

.seletedImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.inputImg {
    visibility: none;
    display: none;
}

.userInput {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    padding: 10px ;
    /* font-size: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.uploadImgtext {
    margin-top: 10px;
}

.clock {
    width: 20px;
    object-fit: contain;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 15px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 2;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    z-index: 1;

}

.arrowImg {
    width: 20px;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.inputHaeding {
    margin-top: 10px;
    margin-left: 10px;
    color: #8C8C8C;
}

.country {
    width: 100%;
    height: 110px;
    overflow-y: scroll;
    border-radius: 5px;
    position: absolute;
    top: 70px;

}

.countryName {
    background-color: #F3F3F3;
    border-radius: 2px;
    border-bottom: 1px solid #00000027;
    padding: 10px;
}


.countrySelect {
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}

/* modal  */

.modalTime {
    width: 25%;
    position: absolute;
    left: 37%;
    top: 37%;
    background-color: #fff;
    outline: none;
    padding: 20px 0;
}

.timeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.clockImg {
    width: 25px;
    height: 25px;
}

.inputTitle {
    font-weight: 300;
    width: 70%;
    text-align: center;
    color: #8C8C8C;

}

.timeRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.timeTextRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 100px;
    margin-bottom: 10px;
    width: 45%;
    color: #8C8C8C;
}

.datePicker {
    width: 98%;
    background: none;
    outline: none;
    border: none;
    height: 40px;
    padding-left: 10px;
    font-size: 22px;

}

.timeInput {
    height: 50px;
    width: 70px;
    font-size: x-large;
    text-align: center;
    outline: none;
    border-radius: 10px;
    border: 1px solid #60B0AA;
}

.columnEqual {
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 5px;
}

.btnCol {
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #8C8C8C;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
    color: #F3F3F3;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    font-size: 20px;
    border: 1px solid #8C8C8C;

}

.clickableTwo {
    cursor: pointer;
    background-color: #F3F3F3;
    font-size: 20px;
    border: 1px solid #8C8C8C;

}

.clickable:focus {
    opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calenderImg {
    object-fit: contain;
}

.userIput {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    /* height: 40px; */
    /* padding-left: 10px; */
    resize: none;
    font-weight: 500;
}

.dropDown {
    height: 2px;
}