.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../asset/bgSingIn.png);
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

.logInBox {
    width: 50%;
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background-color: #F6F6F6;
}

.boxLelt {
    width: 50%;
    background-image: url(../../asset/bgImg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobileLogoWrapper {
    display: none;
}

.adminBtnWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* .adminBtnWhite {
    border: 2px solid #287C76;
    color: #287C76;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} */

.adminBtnGreen {
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 60px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.selectBtn {
    width: 20px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
}

.logo {
    width: 60%;
}

.headingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logoHeading {
    font-size: 20px;
    text-align: center;
    color: #8C8C8C;
    width:50% ;
}

.bold {
    font-weight: 700;
    color: #555555;
}


.backWrapper {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
}

.backBTn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    height: 35px;
    width: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.backArrow {
    height: 15px;

}


.boxRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 70vh;

}

.logInHeading {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.textField {
    margin-top: 10px;
    background-color: #F3F3F3;
    border-radius: 10px;
    z-index: 2;
    position: relative;

}

.userInput {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    padding: 0 10px 10px 10px;
    z-index: 1;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, #287C76, #60B0AA);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.arrowImg {
    width: 20px;
}

.inputHeading {
    margin-top: 10px;
    margin-left: 10px;
    color: #8C8C8C;
}



.btnWrapper {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.paraWrapper{
    width: 70%;
}
.varifyPara{
    text-align: center;
    margin-bottom: 20px;
}
.hideIcon{
    width: 20px;
    position: absolute;
    top: 25px;
    right: 20px;

}

@media screen and (max-width : 768px) {
    .container {
        height: auto;
        align-items: start;
        background: none;
        background-color: #F6F6F6;
    }

    .logInBox {
        width: 100%;
        flex-direction: column;
        border: none;
    }


    .boxLelt {
        width: 100%;
        height: 7vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: none;
    }

    .mobileLogoWrapper {
        display: block;
        display: flex;
        justify-content: center;

    }

    .mobileLogo {
        width: 30%;
    }


    .backBtnWrapper {
        display: none;
    }

    .logoWrapper {
        display: none;
    }

    .headingWrapper {
        display: none;
    }


    .boxRight {
        width: 100%;
        height: 90vh;
    }

    .logInHeading {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 0px;
    }
    .userInput {
        font-size: 12px;
    }
    .inputHeading {
        font-size: 12px;
        margin-top: 0;
        padding-top: 10px;
    }
    .btn {
        font-size: 12px;
        height: 40px;
    }

    .arrow {
        width: 20px;
        height: 20px;

    }

    .arrowImg {
        width: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {


    .logInBox {
        width: 70%;
    }

    .adminBtnWrapper {
        margin: 20px 20px;
    }

    .adminBtnWhite {
        font-size: 16px;
        padding: 5px 10px;

    }

    .adminBtnGreen {
        font-size: 16px;

    }

    .logo {
      width: 50%;
    }

    .logoHeading {
        width: 70%;
    }

    .logInPara {
        width: 70%;
    }

    .backWrapper {
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
    }

    .backBTn {
        height: 35px;
        width: 35px;

    }

    .backArrow {
        height: 15px;

    }

    .adminWrapper {
        flex-direction: column;
    }

    .inputWrapper {
        width: 100%;
    }

    .btn {
        font-size: 14px;
    }

    .arrow {

        width: 30px;
        height: 30px;
    }

    .arrowImg {
        width: 15px;
    }

}